*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #252525;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parent{
  color: white;
  padding: 20px;
  margin: 20px;
  background-color: #333333;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  line-height: 1.6;

}
.parent button{
  margin-left: 100px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #444444;
  color: white;
}
.parent img{
  width: 200px;
  height: 200px;
  margin-left: 60px;
  border-radius: 50%;
}