*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}


.parent{
  /* height: 100vh; */
  min-height: 100vh;
  width: 100vw;
  background-color: #222;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  gap: 30px;
}

.card{
  width: 295px;
  height: 340px;
  background-color: #fff;
  /* transform: translate(-50%); */
  border-radius: 20px;
  padding: 20px;
}



.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card .top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.top button{
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.center h3{
  margin-top: 20px;
  font-size: 22px;
}

.center h3 span{
  color: gray;
  font-weight: normal;
  font-size: 14px;
}

.center h2{
  margin-top: 8px;
  margin-bottom: 7px;
}

.center div {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 60px;
  border: none;

}
.center div h4{
  font-size: 16px;
  background-color: rgb(214, 208, 208);
  font-weight: normal;
  padding: 3px;
  border-radius: 5px;
}

.card .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card .bottom button{
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 15px;
}