*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(22, 22, 22); */
  height: 100%;
  width: 100%;
}

.card{
  background-color: pink;
  padding: 20px;
  margin: 20px;
  color: rgb(27, 17, 17);
  height: 200px;
  width: full;
  display: block;
};